* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

.yellow-text {
    color: #FFDB60;
}

.dark-text {
    color: #24272E;
    ;
}

.white-text {
    color: #fff;
}

.btn-pad {
    padding-top: 26px;
    padding-bottom: 62px;
}

.head-text {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
    margin-top: 60px;

}

/* ===========Global css================= */